.listCast {
  position: relative;
  display: flex;
  max-width: 1000px;
  padding: 0;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}

.listCastItem {
  width: 120px;
  height: 250px;
  display: inline-block;
  margin: 10px;
  background-color: aliceblue;
}

.image {
  display: block;
  width: 120px;
  margin: 0;
}

.name {
  margin: 0;
}

.swiper-wrapper {
  width: 120px !important;
}

.swiper__slide {
  width: 120px !important;

  /* Ваші стилі для swiper-slide */
}
