.mainTitle{
    display: block;
    background-color: rgb(96, 93, 104);
    color: rgb(236, 206, 206);
    /* margin: 0 auto; */
    /* align-items: center; */
    text-align: center;
    padding: 5px;
}

.list{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 1450px;
    flex-wrap: wrap;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin: -15px 0;
    padding: 0px;
}

.list__item{
    display: inline-block;
    width: 300px ;
    height: 480px ;

    outline: black solid 1px;
    border-radius: 5px;

    margin: 20px;
    /* background-color: blue; */
}

.link{
    display: inline-block;
    /* height: 420px; */
    height: 100%;
    /* font-size: 24px; */
    align-content:center;
    align-items: center;
    align-self:flex-start;
    text-decoration: none;
    color: black;
    background-color: rgb(212, 229, 240);
}

.link:hover,
.link:focus {
    color: rgba(16, 5, 27, 0.7);
    background-color: rgb(71, 163, 209);
}
.box_title{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    height: 60px;
    padding: 0px 15px;
    /* border-top: 1px solid rgb(26, 31, 73); */
    background-color: transparent;
}

.box_title p{
    font-size: 20px;
    max-width: 250px;
}

.text_name{
    margin-right: auto;
    display: block;
}
.text_average{
    /* margin-right: auto; */
    display: block;
}

.image{
    display: block;
    height: 420px;
}

.box_item{
    display: flex;
    height: 100%;
    align-items: center;
    margin-bottom: auto;
}