.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: #fff; */
}

.card {
    position: relative;
    background-color: #fff;
    margin-top: 15px;
    display: flex;
    box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.info {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.btn {
    z-index: 2;
    width: 90px;
    display: block;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 285px;
}
.btn:hover{
    background-color: rgb(221, 214, 214) ;
}


.genres{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.cast{
    text-decoration: none;
    color:black
}