.box{
    display: flex;
    align-items: center;
    padding: 0 40px;
    background-color: #272d63;
    margin-left: auto;
    margin-right: auto;
}

.list{
    list-style: none;
    display: flex;
    /* margin-left: auto; */
    margin-right: auto;
    padding: 0px;
}

.list_item:first-child{
    margin-right: 25px;
}

.link{
    text-decoration: none;
    font-size: 24px;
    color: rgb(233, 228, 228);
}

.link:hover{
    color: blue;
}