.box{
    display: flex;
    align-items: center;
    padding: 0 40px;
    background-color: #ec8f8f;
}

.list{
    list-style: none;
    display: flex;
    /* margin-left: auto; */
    margin-right: auto;
    padding: 0px;
}

.list_item:first-child{
    margin-right: 25px;
}
.list_item{
    /* margin-right: auto; */
}

.link{
    text-decoration: none;
    font-size: 24px;
    color: rgb(128, 30, 30);
}

.link:hover{
    color: blue;
}